/* color: var(--primary); 
// color: $primary; 
*/

$transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

@import "lib/reset.css";
@import "lib/owl.css";
@import "lib/bootstrap-grid.min.css";
@import "lib/aoe.css";
@import "lib/_grid.scss";
@import "lib/_vars.scss";
@import "lib/_app.scss";
@import "lib/_layout.scss";

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,800&amp;subset=latin-ext');

*{
	transition: $transition;
}

a.more{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	display: block;
	margin: 20px 0;
	border: 2px solid $primary;
}

a.more:hover{
	background-color: $primary;
}

strong, b{
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', serif;
	font-weight: 400;
	margin-bottom: 20px;
	line-height: initial;
}

h1{
	font-size: 56px;
}

h2{
	font-size: 36px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 24px;
}

h5{
	font-size: 16px;
}

h6{
	font-size: 14px;
}

.main{

}

.footer{

}

